<div class="search-wrapper">
    <div class="search-box">
        <input type="text" #input>
        <span></span>
        <p>Search...</p>
    </div>
</div>
<ng-container *ngIf="!ready">
    <div class="loading-wrapper">
        <img src="../../../../assets/img/HollowNaughtyAfricanhornbill-small.gif" alt="loading">
    </div>        
</ng-container>
<ng-container *ngIf="ready">
    <div class="table-responsive">
        <table class="table text-light">
            <thead>
                <th></th>
                <th>Prénom</th>
                <th>Nom</th>
                <th>Téléphone</th>
                <th>Email</th>
            </thead>
            <tbody>
                
                <ng-container *ngFor="let contact of contacts| slice: startIndex: endIndex">
                    <tr (mouseenter)="selectContact(contact)" (click)="selectContact(contact)" [ngClass]="{'selected-contact': contact == selectedContact}">
                        <td>
                            <ng-container *ngIf="contactSearched.includes(contact)"><span class="found-icon"><i class="fas fa-bullseye"></i></span></ng-container>
                            
                            <ng-container *ngIf="contact.avatarUrl != null"><img class="rounded-circle" src="{{contact.avatarUrl}}" alt="avatar"></ng-container>
                        </td>
                        <td data-label="Prénom:">{{contact.firstName}}</td>
                        <td data-label="Nom:">{{contact.lastName}}</td>
                        <td data-label="Tel.:">{{contact.phoneNumber}}</td>
                        <td data-label="Email:">{{contact.email}}</td>
                    </tr>
                    <tr *ngIf="contact == selectedContact" class="selected-additionnal">
                        <td class="address-text"></td>
                        <td class="font-weight-bold address-text">Adresse:</td>
                        <td data-label="Adresse:">
                            {{contact.address}}, {{contact.number}}<br>     
                            
                        </td>
                        <td>{{contact.zipCode}} {{contact.city}}</td>
                                          
                        <td>
                            <div class="contact-btn">
                                <!-- <button class="btn btn-success" (click)="unselect()"><i class="fas fa-caret-square-up"></i></button> -->
                                <button class="btn btn-info" (click)="toUpdate(contact.id)"><i class="fas fa-pen"></i></button>
                                <button class="btn btn-info" (click)="suppress(contact.id)"><i class="fas fa-trash-alt"></i></button>

    
                            </div>
                        </td>
                    </tr>
                </ng-container>
                
                
                <tr>
                    <td colspan="5">
                        <div class="action-btn">
                            <div class="add-button btn-container">
                                <button class="btn center btn-info" (click)="toCreate()">
                                    <i class="fas fa-user-plus"></i>
                                </button>
                            </div>
                            <div class="paginator">
                                <div class="btn-container">
                                    <button class="btn btn-info" (click)="previous()">
                                        <i class="fas fa-angle-double-left"></i>
                                    </button>
                                </div>
                                <p class="index-wrapper"> {{startIndex + 1}} - {{endIndex}} </p>
                                <div class="btn-container">
                                    <button class="btn btn-info" (click)="next()"><i class="fas fa-angle-double-right"></i></button>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</ng-container>

