.action-btn, .contact-btn {
    display: flex;
    justify-content: space-between;
}

.fa-bullseye{

  color:rgb(103, 223, 92);
}
 

.selected-contact {
    border: none !important;
    background-color: rgb(78, 77, 75);
}

.selected-additionnal {
    border: none !important;
    background-color: rgb(78, 77, 75);
}

 //searchbar

 .search-wrapper {
  position: absolute;
  left: 8%;
  top: -5%;
  transform: translate(-50%);
}

.paginator {
  display: flex;
  justify-content: space-between;
}

.index-wrapper {
  text-align: center;
  line-height: 80px;
  font-size: 20px;
}

.search-box {	
  input[type="text"] {
    border: none;
    background: none;
    z-index: 1;
    width: 25px;
    height: 25px;
    transition: all .25s ease-in .25s;
    color: transparent;
    font-size: .75rem;
    line-height:25px;
    &:hover {
      cursor: pointer;
      &:focus {
        cursor: text;
      }
      + span {
        background: rgba(255,255,255,0.2);
      }
    }
    &:focus {
      width: 200px;
      padding: 0 10px;
      outline: none;
      color: black;
      background:none;
      color: white;
      + span {
        width: 200px;
        &::before {
          width:2px;
          opacity: 0;
          transition: all .25s ease-in;
        }
      }
    }
    + span {
      z-index: -1;
      position: absolute;
      border: 2px solid white;
      top: 0;
      width: 25px;
      height: 25px;
      transition: all .25s ease-in .25s;
      border-radius: 25px;
      left: 0;
      &::before {
        transition: all .25s ease-in .5s;
        transform-origin: left top;
        content: '';
        position: absolute;
        width: 10px;
        height: 5px;
        border-radius: 5px;
        background: white;
        transform: rotate(45deg) translate(26px, -2px);
      }
    }
  }
}

@media screen and (max-width: 600px) {

    .address-text {
        visibility: hidden;
        height: 0px;
    }

    table {
      border: 0;
    }
    
    table thead {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }
    
    table tr {
      border-bottom: 3px solid #ddd;
      display: block;
      margin-bottom: .625em;
    }
    
    table td {
      border-bottom: 1px solid #ddd;
      display: block;
      font-size: .8em;
      text-align: right;
    }
    
    table td::before {
      /*
      * aria-label has no advantage, it won't be read inside a table
      content: attr(aria-label);
      */
      content: attr(data-label);
      float: left;
      font-weight: bold;
      text-transform: uppercase;
    }
    
    table td:last-child {
      border-bottom: 0;
    }
    .search-wrapper {
      position: relative;
      left: 52%;
      top: -10px;
      transform: translate(-50%);
    }
    .index-wrapper {
     display: none;
    }

  }

 

