.logo {
    height: 150px;
    width: auto;
    border-radius: 50%;
}

.logo-wrapper {
    padding-bottom: 100px;
}

@media screen and (max-width: 600px) {
    .logo {
        height: 50px;
    }
    h1 {
        font-size: 1.5em;
    }
    // .logo-wrapper {
    //     display: flex;
    //     flex-direction: column;
    //     align-items: flex-end;
    // }
    
    .logo-wrapper {
        padding-bottom: 0;
    }
}