<div class="logo-wrapper" (click)="toHome()">
    <div class="col-4">
        <img class="logo" src="../../../../assets/img/PhoneBotPicto-Newtech-2.png" alt="phonebot">
    </div>
    <div class="col-6">
        <h1>PhoneBot</h1>
    </div>
</div>