<form [formGroup]="form">
    <div class="row col-12">
        <div class="form-group col-lg-6 col-md-12">
            <label>Prénom:</label>
            <input class="form-control" type="text" formControlName="firstName">
            <app-controls-error [errors]="form.controls.firstName.errors"></app-controls-error>    
        </div>
        <div class="form-group col-lg-6 col-md-12">
            <label>Nom:</label>
            <input class="form-control" type="text" formControlName="lastName"> 
            <app-controls-error [errors]="form.controls.lastName.errors"></app-controls-error>   
        </div>
    </div>
    <div class="row col-12">
        <div class="form-group col-lg-6 col-md-12">
            <label>Adresse:</label>
            <input class="form-control" type="text" formControlName="address">
            <app-controls-error [errors]="form.controls.address.errors"></app-controls-error>    
        </div>
        <div class="form-group col-lg-6 col-md-12">
            <label>N°:</label>
            <input class="form-control" type="text" formControlName="number">
            <app-controls-error [errors]="form.controls.number.errors"></app-controls-error>    
        </div>
    </div>
    <div class="row col-12">
        <div class="form-group col-lg-6 col-md-12">
            <label>Code Postal:</label>
            <input class="form-control" type="text" formControlName="zipCode">
            <app-controls-error [errors]="form.controls.zipCode.errors"></app-controls-error>    
        </div>
        
        <div class="form-group col-lg-6 col-md-12">
            <label>Ville</label>
            <input class="form-control" type="text" formControlName="city">
            <app-controls-error [errors]="form.controls.city.errors"></app-controls-error>    
        </div>
    </div>
    <div class="row col-12">
        <div class="form-group col-lg-6 col-md-12">
            <label>N° de téléphone:</label>
            <input class="form-control" type="text" formControlName="phoneNumber">  
            <app-controls-error [errors]="form.controls.phoneNumber.errors"></app-controls-error>  
        </div>
        <div class="form-group col-lg-6 col-md-12">
            <label>Email:</label>
            <input class="form-control" type="text" formControlName="email">
            <app-controls-error [errors]="form.controls.email.errors"></app-controls-error>    
        </div>
    </div>
    <div class="row">
        <div class="btn-wrapper">
            <button class="btn btn-success" (click)="save()" [disabled]="!form.valid"><i class="far fa-save"></i></button>
            <button class="btn btn-danger" (click)="reset()"><i class="fas fa-times"></i></button>
        </div>
    </div>
</form>
