
<div class="container">
  <p>Confirmer la suppression</p>
</div>
<div class="confirm-wrapper">
    <div class="btn-container">
        <button class="btn btn-danger" (click)="onNoClick()">Cancel</button>
    </div>
    <div class="btn-container">
        <button class="btn btn-success" (click)="onYesClick()" cdkFocusInitial>Ok</button>
    </div>
</div>