<div class="side-bar">
    <div class="btn-container">
        <button class="btn center btn-info" (click)="toHome()">
            <i class="fas fa-home"></i>
        </button>
    </div>
    <div class="btn-container">
        <button class="btn center btn-info" (click)="toCreate()">
            <i class="fas fa-user-plus"></i>
        </button>
    </div>
</div>
