// @import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Montserrat+Alternates:ital,wght@1,500&display=swap');
body {
    background-color: black !important;
    color: white !important;
    // font-family: 'Montserrat Alternates', sans-serif;
    font-family: 'Dancing Script', cursive;
}