<div class="row col-12">
  <app-header></app-header>
</div>
<div class="row col-12">
  <div class="col-lg-1 col-sm-12">
    <app-sidebar></app-sidebar>
  </div>
  <div class="col-lg-10 col-sm-12">
    <router-outlet></router-outlet>
  </div>
</div>