/* You can add global styles to this file, and also import other style files */
$fa-font-path: "../node_modules/font-awesome/fonts";
// @import "../node_modules/font-awesome/scss/font-awesome.scss";

// body {
//     background-color: black;
//     color: white;
// }
@import url(https://fonts.googleapis.com/css?family=Montserrat);

body {
   background-color: #1a1a1a;
   font-family: 'Montserrat', sans-serif;
   color: #868686;
}

.btn-container {
    padding: 10px;
 }
 
 .btn {
    position: relative;
    display: block;
    max-width: 300px;
    padding: 10px 20px;
    color: #62BBC1;
    font-size: 24px;
    text-align: center;
    text-decoration: none;
    border: 3px solid #868686;
    overflow: hidden;
    transition: color 150ms ease-in-out 150ms, border-color 300ms ease-out, box-shadow 300ms ease-in-out;
    z-index: 1;
    
    &.center {
       margin: 0 auto;
    }
    
    &:after {
       content: "";
       position: absolute;
       left: 0;
       top: 0;
       width: 100%;
       height: 100%;
       background-color: darken(#868686, 45%);
       z-index: -1;
       transform: scaleX(0);
       transition: transform 300ms ease-out 200ms;
    }
    
    &:hover {
       color: white;
       border-color: lighten(#868686, 20%);
       box-shadow: 0 0 16px rgba(255, 255, 255, 0.1);
       
       &:after {
          transform: scaleX(1);
          transform-origin: 50% 50%;
          transition: transform 300ms ease-out;
       }
    }
 }

//  @media screen and (max-width: 600px) {
//    .btn {
//       max-width: 40px;
//       max-height: 40px;
//       padding: 0;
//       i {
//          font-size: 12px;
//       }
//    }

//    .btn-container {
//       padding: 0;
//    }
//  }

.btn-wrapper {
   width: 100%;
   padding-left: 2%;
   padding-right: 4%;
   display: flex;
   justify-content: space-between;
}

@media screen and (max-width: 600px) {
   .btn-wrapper{
      
   padding-left: 9%;
   padding-right: 17%;

   }
}

.loading-wrapper {
   width: 100%;
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: flex-start;
   img {
     width: 80px;
     height: auto;
   }
  
 }
 
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
